[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.58.1"
uvicorn = "==0.11.5"
sqlalchemy = "*"
mysql-connector-python = "*"
mysql = "*"
pymysql = "*"
pandas = "*"
numpy = "==1.19.3"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
